<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Productos</title>
</head>
<body>
    <h1>Lista de Productos</h1>
    <table>
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Precio Actual</th>
                <th>Stock</th>
                <th>Proveedor</th>
                <th>Categoría</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
                <tr>
                    <td>{{ producto.codigo }}</td>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.precio_actual }}</td>
                    <td>{{ producto.stock }}</td>
                    <td>{{ producto.proveedor.nombre }}</td>
                    <td>{{ producto.categoria.nombre }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="6">No hay productos disponibles.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
